<mat-toolbar color="primary" class="mat-elevation-z5">
  <mat-toolbar-row>
    <!-- <button mat-icon-button (click)="menuClicked()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span fxFlex="1 1 auto"></span>
    <mat-spinner *ngIf="loading$ | async" color="accent" strokeWidth="3" [diameter]="30"></mat-spinner> -->
    <span>{{ title }}</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-button>Menu Option 01</button>
    <button mat-button>Menu Option 02</button>
  </mat-toolbar-row>
</mat-toolbar>